<nav class="bar ios-title">
    <% if(title){ %>
        <h1 class="title">
            <%- title %>
        </h1>
    <% } else { %>
        <h1 class="title">Home</h1>
    <% } %>
</nav>
<header class="bar bar-tab">
  <a class="tab-item <%= nav === 'home' ? 'active' : '' %>" href="#">
    <span class="fa fa-home fa-2x"></span>
  </a>
  <a class="tab-item" href="#">
    <span class="fa fa-list-alt fa-2x"></span>
  </a>
  <a class="tab-item" href="#">
    <span class="fa fa-star-o fa-2x"></span>
  </a>
  <a class="tab-item" href="#">
    <span class="fa fa-info-circle fa-2x"></span>
  </a>
</header>
